.rate {

}

.rate h3 {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
  border-bottom: 0.1rem solid #ffffff;
  padding-bottom: 4rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20vh;
  height: 10vh;
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
}

.item-name {
  font-size: 3rem;
  text-align: center;
}

.item-in {
  font-size: 2rem;
  text-align: center;
}