.about {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.about p{
  font-size: 1.8rem;
}

.about h3{
  font-size: 2rem;
  text-align: center;
}

